<div class="grid">

    <div class="col-12 xl:col-6">
		<div class="card">
			<h5>Job Application Submission Form</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12">
					<label htmlFor="companyName">Company Name</label>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText style="width: 100%; padding: .5rem; font-size: 1.2rem; box-sizing: border-box;">
                    </span>
				</div>
				<div class="field col-12">
					<label htmlFor="jobTitle">Job Title</label>
					<span class="p-float-label">
                        <input id="float-input" type="text" pInputText style="width: 100%; padding: .5rem; font-size: 1.2rem; box-sizing: border-box;">
                    </span>
				</div>
				<div class="field col-12">
					<label htmlFor="dateApplied">Date Applied</label>
					<p-calendar [showIcon]="true" inputId="icon"></p-calendar>
				</div>

				<div class="field col-12">
					<label htmlFor="status">Status</label>
					<!-- <input pInputText id="status" type="text" /> -->
                    <p-dropdown [options]="statusOptions" optionLabel="name" [(ngModel)]="jobApplication.status" placeholder="Select a status"></p-dropdown>
				</div>
				<div class="field col-12 ">
					<label htmlFor="notes">Notes</label>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText style="width: 100%; padding: .5rem; font-size: 1.2rem; box-sizing: border-box;">
                    </span>
				</div>
                <div class="flex flex-wrap gap-2">
                    <button pButton pRipple label="Submit"></button>
                </div>
			</div>
		</div>
	</div>

</div>